<%-include("./HeaderFooter/header")%>
<h1>Events</h1>

<body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6LseGbTYf_dHEEYCQ9OhPeebMRiyFwgs&callback=initMap"
    type="text/javascript"></script>
  <div id="map" style="width: 100%; height: 80%;"></div>
  <script type="text/javascript">

    var geocoder = new google.maps.Geocoder();


    var events = <%- res %>

    alert(events[0].e_address)
    



    // var locations = [
    //   ['Canadian Red Cross', 49.265911, -123.110143, 3],
    //   ['Fair Haven Homes Society', 49.21525, -123.005192, 5],
    //   ['West End Seniors Network', 49.287324, -123.132743, 2],
    //   ['Yaletown House Society', 49.275349, -123.119226, 10],
    //   ['A.S.K Friendship Society', 49.233904, -123.157112, 3],
    //   ['The New Vista Society', 49.224329, -122.945706, 1],
    //   ['Lower Mainland Christmas Bureau', 49.28302, -123.066322, 4],
    //   ['Seniors Services Society', 49.202368, -122.911647, 1]
    // ];


    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(49.265911, -123.110143)
    });


    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    alert(events.length)

    for (i = 0; i < events.length; i++) {
      alert("loop" + i)
      geocoder.geocode({ 'address': "209 W 6th Ave, Vancouver, BC V5Y 1K7"}, function (results, status) {
        if (status == 'OK') {
          marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: results[0].geometry.location,
            map: map
          })
      }
      else {
        alert("not ok")
      }
    });

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        infowindow.setContent("<p>" + locations[i][0] + "<br />" +
          "Volunteers Needed: " + locations[i][3] + "<br /" +
          "</p>" + '<button onclick="quickReg()">Attend!</button>' + " "
          + '<button onclick="myFunction()">More info</button>');
        infowindow.open(map, marker);
      }
    })(marker, i));
    }
  </script>
</body>
<%-include("./HeaderFooter/footer")%>