<%-include("./HeaderFooter/header")%>
<h1>This is the login page</h1>
<!-- <form action="/login" method="post"> -->
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>

    <a href="/"></a>

<!-- </form> -->
<%-include("./HeaderFooter/footer")%>