<%-include("./HeaderFooter/header")%>
<!-- <form action="/register" method="post"> -->
    <div class="container ">
        <div class= "row justify-content-center">
          <p class="text-uppercase pull-center"> EVENT REGISTRATION:</p>	
    
          <div class= col-md-12>
            <form role="form" method="post" action="/events/new">				
              <div class="form-group" >
                 <input type="text" name="Event_Name" id="Event Name" class="form-control input-lg" placeholder="Event Name">
             </div>
    
             <div class="form-group" >
                 <input type="text" name="Event_Address" id="Event Address" class="form-control input-lg" placeholder="Event Address">
             </div>

             <div class="form-group" >
                <input type="text" name="Event_Time" id="Event Address" class="form-control input-lg" placeholder="Event time (YYYY-MM-DD hh:mm:ss)">
            </div>

            <div class="form-group" >
                <input type="text" name="Event_Ppl" id="Volunteers Required" class="form-control input-lg" placeholder="Volunteers Required">
            </div>
             
             <div class="form-group">
                 <input type="text" name="Company_Usnm" id="Company Username" class="form-control input-lg" placeholder="Company Name">
             </div>
    
             <!-- <input type="datetime-local" id="meeting-time"
                 name="meeting-time" value="2020-01-12T13:00"
                 min="2020-01-12T13:00" max="2020-12-31T00:00"> -->
    
              <div class = "row justify-content-center">
                     <input type="submit" class="btn btn-lg btn-primary   value="Register">
              </div>
           </form>
          </div>
    </div>
<!-- </form> -->
<%-include("./HeaderFooter/footer")%>