<%-include("./HeaderFooter/header")%>
<h1>This is the new event page</h1>
<!-- <form action="/register" method="post"> -->
    <input type="text" name="Event" placeholder="Event">
    <input type="text" name="Description" placeholder="Description">
    <button>Create New Event</button>
<!-- </form> -->
<%-include("./HeaderFooter/footer")%>